<div class="container">
  <% if current_user %>
    <h3>Logged In</h3>
    <h3><a href="/logout" >Logout</a></h3>
  <% end %>

  <% if @user %>
    <%= @user.first_name %>
  <% end %>

  <h3>Signup</h3>
  <form name="input" action="signup" method="post">
    First Name: <input type="text" name="user[first_name]"><br>
    Last Name: <input type="text" name="user[last_name]"><br>
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="text" name="user[password]"><br>
    <input type="submit" value="Submit">
  </form>
  <br>

  <h3>Login</h3>
  <form name="input" action="login" method="post"><br>
    Email: <input type="text" name="user[email]"><br>
    Password: <input type="text" name="user[password]"><br>
    <input type="submit" value="Submit">
  </form>



</div>
